body{
    background-color: rgb(155, 242, 84);
    position: relative;
    left: 0;
    top: 92px;
    left: 0;
    right: 0;
    padding-bottom: 15px;
    text-align: center;
    color: red;
}
h1 {
    display: inline-block;
    color: blue;
    text-shadow: 2px 2px;
    text-size-adjust: 10px;

}

div span{
    column-count: 2;

}
header{
    display: block;
    background-color: rgb(98, 233, 188);
    color: red;
    padding: 10px;
    margin: 0;
    text-size-adjust: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
button{
    color: red;
    background-color: blue;
    background: -moz-linear-gradient(top, yellow 0%, green 100%);
    background: -webkit-linear-gradient(top, yellow 0%, green 100%);
    background: linear-gradient(top, yellow 0%, green 100%);
}
body img{
 border-image-width: 100px;
 border: 3px solid crimson;
 border-radius: 100px;   
}
body ul img{
    border-color: 2px dashed brown;
    border-radius: 0px 50px;
}
a{
    margin: 10px;
    padding: 3px;
}
.disc{
    list-style-type: none;
}

footer{
    background-color: rgb(223, 124, 124);
    color: white;
    margin-bottom: 0px;
    max-width: 100%;
}
.colm-2{
    column-count: 2;
}
.library{
    column-count: 2;
    column-gap: -5px;
}
.green{
    color: greenyellow;
}
table{
    border: 1px solid greenyellow;
    margin: 0 auto;
}
td,th,tr{
    border: 1px solid red;
    margin: 0 auto;
}
/* pseudo classes */
a:hover{
    color: White;
    background-color: orange;
    outline: none;
    padding: 10px;
    text-decoration: dashed;
    margin: 5px;
}
button:hover{
    color: white;
    background-color: blue;
    background: -moz-linear-gradient(top, green 0%, yellow 100%);
    background: -webkit-linear-gradient(top, green 0%, yellow 100%);
    background: linear-gradient(top, green 0%, yellow 100%);
}
form input:hover{
    border:3px solid crimson;

}
form input:valid{
    color: green;
}
form input:invalid{
    color: red;
    background-color: pink;
}

ul.disc img:hover{
    margin: 15px;
    padding: 10px;
    border-radius: 50px 0px;
}